/* CSS goes here */

body { 
  font-family: Arial;
  text-align: center;
}

div#map_canvas {
  margin: 20px 0;
  width: 40%;
  height: 500px;
  border: 20px solid aliceblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #c6c6c6;
  align:center;
  text-align: center;
  margin: 0px auto -1px auto;
  margin-left:5%;
  float: left;
}

<<<<<<< HEAD
div#panoramio_widget{  
  margin: 20px 0;
  width: 500px;
=======
div#panoramio_widget{  margin: 20px 0;
  width: 40%;
>>>>>>> 3904a5b5c6c9f2df6dfc9b61378ea8a7bb21de9d
  height: 500px;
  border: 20px solid aliceblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #c6c6c6;
  align:center;
  text-align: center;
  margin: 0px auto -1px auto; 
  margin-right: 5%;
  float: right;
}

div#rest {
	float: both;
}